/* Adding font from google font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");

/* general styling  */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 90vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "outfit", sans-serif;
  display: grid;
  place-content: center;
}

/* styling the container  */
.card-container {
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 30px;
  border-radius: 17px;
  justify-content: center;
}
#img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-size: 19px;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 0.9em;
}

/* Adding media queries for bigger screen size */
@media (max-width: 1440px) {
  .card-container {
    text-align: center;
    padding: 15px;
    margin: 470px;
    height: auto;
  }
  #img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  h1 {
    /* margin: 20px; */
    color: hsl(218, 44%, 22%);
    font-size: 19px;
    margin-bottom: 30px;
  }

  p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9em;
    margin-bottom: 30px;
  }
}

/* footer section */
.attribution {
  position: fixed;
  bottom: 1rem;
  right: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
